name: Deploy to Contabo Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SERVER_IP }}
          username: root
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /var/www/bharathlajhna-landing-page
            git pull origin main
            docker stop bharathlajhna-landing-page || true
            docker rm bharathlajhna-landing-page || true
            docker build -t bharathlajhna-landing-page .
            docker run -d -p 7070:6060 --name bharathlajhna-landing-page bharathlajhna-landing-page
